@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2'); 
}
:root {
    --color-primery-dark: #31261a;
    --color-primery-light: #faf4ea;
    --color-brand: #819b57;
    --color-brand-dark: #465929;
}
body{
    color: var(--color-primery-dark);
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
address{
        font-style: normal;
}
ul {list-style-type: none;}
.button {
    color: var(--color-primery-light);
    font-weight: 600;
    background-color:var(--color-brand);
    border: 2px solid var(--color-brand);
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
}
.link {
    color: var(--color-primery-light);
    
}
.link:hover {
    color: var(--color-brand);
    text-decoration: none;
    font-weight: 600;

}
.hero-title {
    color:var(--color-primery-light);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px -2px 4px violet;
    letter-spacing: 2px;
    word-spacing: 15px;
    font-size: 128px;
    font-weight: 900;
    font-style: italic;
}
.hero-title .accent {
    color: var(--color-brand);
}
.adventages-list{
    color: var(--color-primery-light);
    background-color: var(--color-brand);
}
.adventages-item{
    font-size: 20px;
    font-weight: 300;
}
.section-title{
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}
.section-title .accent{
    color: var(--color-brand-dark);
}
.troublemaker-text .brand{
color: var(--color-brand);
font-weight: 600;
}
.troublemaker-text .uppercase {
    text-transform: uppercase;
    color: var(--color-brand);
}
.flower-potter{
    font-size: 40px;
    font-weight: 600;
}
.embroidered-cat-title{
    font-size: 24px;
    font-weight: 600;
}
.embroidered-cat-text{
    font-size: 14px;
    font-weight: 300;
}
.address-link{
    font-size: 16px;
    font-weight: 300;
    color: var(--color-primery-light);
    text-decoration: none;
}
.address-link:hover{
    color: var(--color-brand-light); 
}
.address-copyright{
    font-size: 14px;
}