:root {
    --color-primery-dark: #31261a;
    --color-primery-light: #faf4ea;
    --color-brand: #819b57;
    --color-brand-dark: #465929;
}

body{
    color: var(--color-primery-dark);
}
ul {list-style-type: none;}
.button {
    color: var(--color-primery-light);
    background-color:var(--color-brand);
    border: 2px solid var(--color-brand);
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
}
.link {
    color: faf4ea;
}
.link:hover {
    color: var(--color-brand);
}
.hero-title {
    color:var(--color-primery-light);
}
.hero-title .accent {
    color: var(--color-brand);
}
.adventages-list{
    color: var(--color-primery-light);
    background-color: var(--color-brand);
}
.section-title .accent{
    color: var(--color-brand-dark);
}